* {
  padding: 0px;
  margin: 0px;
}
/* body */
body {
  font-family: "Lato", sans-serif;
  background-image: url("hero_03_fullsize.jpg");
}
/* header  */
header {
  display: flex;
  /* header ul */
  padding: 10px;
}
header nav ul {
  display: flex;
  list-style-type: none;
  padding: 10px;
}
nav ul li img {
  position: absolute;
  left: 88px;
}
/* main1 jis me headeing or serch he */
.main1 {
  display: flex;
  justify-content: space-around;
  margin-top: 200px;
}
.main1_left {
  width: 565px;
  line-height: 35px;
}
/* main1 h2 */
.main1_left h2 {
  font-size: 38px;
  font-weight: 900;
  line-height: 45px;
  color: #f74843;
}
.main1_left p {
  font-size: 22px;
  font-weight: 200;
  margin-top: 20px;
  color: white;
}
/* main1 right saide  */
.main1_right {
  margin-top: 150px;
}
.main1_right input {
  width: 450px;
  border: none;
  border-bottom: 2px solid white;
  padding: 10px;
  font-size: 22px;
  background-color: transparent;
}
