* {
  padding: 0px;
  margin: 0px;
}
/* body */
body {
  font-family: "Lato", sans-serif;
  background-image: url("hero_03_fullsize.jpg");
  /* background-repeat: round; */
}
/* header  */
header {
  display: flex;
  /* header ul */
  padding: 10px;
}
header nav ul {
  display: flex;
  list-style-type: none;
  padding: 10px;
}
nav ul li img {
  position: absolute;
  left: 88px;
}
/* main1 jis me headeing or serch he */
.main1 {
  display: flex;
  justify-content: space-around;
  margin-top: 200px;
}
.main1_left {
  width: 565px;
  line-height: 35px;
}
/* main1 h2 */
.main1_left h2 {
  font-size: 38px;
  font-weight: 900;
  line-height: 45px;
  color: #f74843;
}
.main1_left p {
  font-size: 22px;
  font-weight: 200;
  margin-top: 20px;
  color: white;
}
/* main1 right saide  */
.main1_right {
  margin-top: 150px;
}
.main1_right input {
  width: 450px;
  border: none;
  border-bottom: 2px solid white;
  padding: 10px;
  font-size: 22px;
  background-color: transparent;
}

/* main1 end */

/* section2 start */
.section2_main {
  display: flex;
  justify-content: center;
  height: 1950px;
}
/* section 2 content */
.section2 {
  width: 1180px;
  display: flex;
  
  margin-top: 100px;
  flex-direction: column;
}
/* section 2 heading */
.section2 h1 {
  font-size: 70px;
  font-weight: 900;
  color: #f74843;
  margin-bottom: 50px;
}
/* footer start here */

footer {
  margin-top: 50px;
  background-color: #f74843;
  display: flex;
  justify-content: space-evenly;

}
.col1
{
  display: flex;
  flex-direction: column;
}
.col1 p{
  color: white;
  font-size: 16px;
}
/* col2 */
.col2
{
  display: flex;
  justify-content: space-evenly;
  width: 650px;
  
}

.col3 ul{
  display: flex;
  list-style-type: none;
  padding: 10px;
}
.col3 ul img{
  width: 100px;
}
.col2_sub_col1
{
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.col2_sub_col2
{
  display: flex;
  flex-direction: column;
}
.col2_sub_col3
{
  display: flex;
  flex-direction: column;
}
.col2_heading
{
  color: white;
}
